$colorAgrupa:#2D57B4;
#pagSocis{

    #llistaSocis{
        width: 48%;
        height: 75vh;
        margin: 1%;
        border: 5px solid $colorAgrupa;
       
        #llista{

            height: 95%;
            #capsalera{
                height: 7%;
                padding: 0.5%;
                border-bottom: 5px solid $colorAgrupa;
                .filtre{
                    
                    font-size: 1.5vh;
                    height: 3vh;
                }
                #titol{
                    padding: 0.5%;
                    text-align:center;
                    font-style: oblique;
                    font-size: 2vh;
                    color:$colorAgrupa;
                }
                #boto{
                    background-color:$colorAgrupa;
                    height: 3vh;

                    text-align: center;
                    padding: 0.5%;
                    padding-left: 1%;
                    padding-right: 1%;
                    font-size: 1.5vh;
                }
                #tancaFiltre{
                    padding: 0.2%; 
                    color:red;
                    font-size: 3vh;
                    text-align: center
                }
                #print{
                    padding: 0.2%;
                    
                    font-size: 3vh;
                    text-align: center
                }
            }
            #capsaleraLlista{
                height: 4%;
                padding: 0.2%;
                font-size: 1.5vh;
                border-bottom: 2px solid $colorAgrupa;
                text-align: center;
            }
            
            .soci{
                height: 4%;
                padding: 0.2%;
                font-size: 1.5vh;
                text-align: center;
                border-bottom: 2px solid $colorAgrupa;
            }
        }
        #paginacio{
            height:5%;
            font-size: 2vh;
            text-align: center;
            color:$colorAgrupa;
            .icone{
                display: inline;
            }
        }
    }
    #detallSoci{
        height: 75vh;
        width: 48%;
        margin: 1%;
        border: 5px solid $colorAgrupa;
        #detall{
            width: 100%;
           
            #nomSoci{
                text-align: center;
                font-size: 3vh;
                padding-top: 5%;
            }
            #cosDetall{
                 padding: 15%;
                 padding-top: 5%;
                 font-size: 1.5vh;
                .titolDetall{
                    margin-top: 1%;
                    display: inline-block;
                    width: 50%;
                    text-align: left;
                    font-size: 1.5vh;
                
                    
                }
                .contingutDetall{
                    margin-top: 1%;
                    display: inline-block;
                    width: 30%;
                    text-align: right;
                    font-size: 1.5vh;
            
                    
                }

            }
            #pagats{
                margin-top:2%; 
                text-align: center;
                #botopagats{
                    padding: 0%;
                    width: 30%;
                    height: 3vh;
                    font-size: 1.5vh;
                    background-color: $colorAgrupa;
                }
            }
            #lespera{
                margin-top: 5%;
                font-size: 1.5vh;
                padding: 2%;
                border: 2.5px solid $colorAgrupa;
                height: 20vh;
                overflow-y: scroll;
                #capsLespera{
                    text-align: center
                }
                #llistaEspera{
                    text-align: center;
                }
            }
         
        }
    }
}