
#vue{
	height: 93vh;
}
#header{
	background-color:#1aa3ff;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	text-align:center;
	color:black;
	font-size:50px;
	
}

#pagInici{
	background-color:white;
	
	color:#1aa3ff;
	#socis{
		width:50%;
		padding-top:10%;
		height: 93vh;
		text-align:center;
		font-size:200px;
		vertical-align:center;
		
		border-right: 1px solid black;
	
	
	
	}
	#balls{
		vertical-align:center;
		height: 93vh;
		padding-top:10%;
		text-align:center;
		width:50%;
		font-size:200px;
		
		border-left: 1px solid #1aa3ff;

	}
}



#pagSocis{
	
	height: 93vh;
	#llistaSocis{
		width:50%;
		#capsLsocis{
			margin-left:20px;
			margin-top: 20px;		
			font-size: 20px;
			border-left: 2px solid #1aa3ff;
			border-top: 2px solid #1aa3ff;
			border-right: 2px solid #1aa3ff;
	
		}
		#lsocis{
			margin-left:20px;

			background-color:white;
	
			height: 93vh;
			overflow-y: scroll;
			vertical-align:center;
			text-align:center;
			color:black;
			border:2px solid #1aa3ff;
			.soci{
				border-bottom: 1px solid #1aa3ff;
				width: 100%;
				font-size: 20px;
				color:black;
				margin-right: 0%;
				padding-right: 0;
	
			}
	
		}
	
	}

	
}
#detallSoci{
	border-left: 2px solid #1aa3ff;
	height: 100%;
	padding: 2%;
}
#sociDetall{

	padding-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
	border:1px solid #1aa3ff;
	
	width: 100%;
}



#capsDetallSoci{
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 20px;
	margin-bottom: 30px;
	
	
}
#afegiexSoci{
	display: inline-block;
	margin-top: 0%;
	margin-left: 30%
	
}
.retorna{display: inline-block;
	margin-top: 0%;
	margin-left: 30%}
#FormNouSoci{
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
	border-left: 1px solid #1aa3ff;
	border-top: 1px solid #1aa3ff;
	border-right: 1px solid #1aa3ff;
	
}
#botoNouSoci{
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
	padding-bottom: 2%;
	padding-left: 2%;
	padding-right: 2%;
	border-left: 1px solid #1aa3ff;
	border-bottom: 1px solid #1aa3ff;
	border-right: 1px solid #1aa3ff;
}
#botomodificasoci{
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
	padding-bottom: 2%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top:2%; 
	border-left: 1px solid #1aa3ff;
	border-bottom: 1px solid #1aa3ff;
	border-right: 1px solid #1aa3ff;
}

#afegeixBall{
	display: inline-block;
	margin-top: 0%;
	margin-left: 30%
	
}

#FormNouBall{
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
	border-left: 1px solid #1aa3ff;
	border-top: 1px solid #1aa3ff;
	border-right: 1px solid #1aa3ff;
	
}
#FormModificaBall{
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
	border-left: 1px solid #1aa3ff;
	border-top: 1px solid #1aa3ff;
	border-right: 1px solid #1aa3ff;
	
}
#botoNouBall{
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
	padding-bottom: 2%;
	padding-left: 2%;
	padding-right: 2%;
	border-left: 1px solid #1aa3ff;
	border-bottom: 1px solid #1aa3ff;
	border-right: 1px solid #1aa3ff;
}
#botomodificaBall{
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
	padding-bottom: 2%;
	padding-left: 2%;
	padding-right: 2%;
	border-left: 1px solid #1aa3ff;
	border-bottom: 1px solid #1aa3ff;
	border-right: 1px solid #1aa3ff;
}
#eliminasoci{
	padding: 1%;
	button{
		width: 100%;
	}
}
#eliminaball{
	padding: 1%;
	button{
		width: 100%;
	}
}
#pagInsertSoci{
	
	padding-top: 5%;
	height: 93vh;
	
}
#pagInsertaBall{
	
	padding-top: 5%;
	height: 93vh;
	
}
#pagModificaBall{
	
	padding-top: 5%;
	height: 93vh;
	
}
.campDetall{
	color:black;
	margin: 10px;
	font-size: 15px;
}
#pagBalls{
	
	height: 93vh;
	
}
#llistaBalls{
	width:50%;
}
#capsLBalls{
	margin-left:20px;
	margin-top: 20px;
	
	font-size: 20px;
	border-left: 2px solid #1aa3ff;
	border-top: 2px solid #1aa3ff;
	border-right: 2px solid #1aa3ff;
	
}
#afegiexBall{
	display: inline-block;
	margin-top: 0%;
	margin-left: 30%
}
#lBalls{
	margin-left:20px;

	background-color:white;
	
	height: 93vh;
	overflow-y: scroll;
	vertical-align:center;
	text-align:center;
	color:black;
	border:2px solid #1aa3ff;
	
	}

.ball{
	border-bottom: 1px solid #1aa3ff;
	width: 100%;
	font-size: 20px;
	color:black;
	margin-right: 0%;
	padding-right: 0;
	
}


#ballDetall{

	padding-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
	border:1px solid #1aa3ff;
	
	width: 100%;
}
#capsDetallBall{
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 20px;
	margin-bottom: 30px;
	
	
}
#vueBallsLEspera{
	margin: 0%;
	padding: 0;
	#ballDetall{
		text-align: center;	
		border-bottom: 2px solid #1aa3ff;
		width: 100%;
		.campDetall{
			color:black;
			margin: 10px;
			font-size: 15px;
		}
	}
	#pagBalls{
	
		height: 93vh;
		#Capsalera{
			margin: 0%;
			padding: 0;
			width: 100%;
			
			text-align: center;
			#capsBalladors{
				
				padding-top: 20px;
				font-size: 20px;
				border-bottom: 2px solid #1aa3ff;
				border-right: 2px solid #1aa3ff;
				border-left: 2px solid #1aa3ff;
				
			}
			#capsLlistaEspera{
				
				padding-top: 20px;
				font-size: 20px;
				border-right: 2px solid #1aa3ff;
				border-bottom: 2px solid #1aa3ff;
				border-left: 2px solid #1aa3ff;
					
					
			}

		}
		#llistes{
			margin: 0%;
			padding: 0;
			width: 100%;
				
			text-align: center;
			#llistaBalladors{
				background-color:white;
				height: 93vh;
				border-right: 2px solid #1aa3ff;
				border-bottom: 2px solid #1aa3ff;
				border-left: 2px solid #1aa3ff;
				overflow-y: scroll;
				
				color:black;
				border:2px solid #1aa3ff;
			}
			#llistaEspera{
				background-color:white;
				height: 93vh;
				border-right: 2px solid #1aa3ff;
				border-bottom: 2px solid #1aa3ff;
				border-left: 2px solid #1aa3ff;
				overflow-y: scroll;
				vertical-align:center;
				text-align:center;
				color:black;
				border:2px solid #1aa3ff;
				margin: 0%;
				padding: 0;
			}
			.ballador{
				border-bottom: 1px solid #1aa3ff;
				padding: 1%;
				font-size: 20px;
				color:black;
				
				
					
			}
			.llistaEspera{
				border-bottom: 1px solid #1aa3ff;
				padding: 1%;
				font-size: 15px;
				color:black;
				
				
					
			}
			
		}
				
	}
	
}

#vueBaixes{
	color: #1aa3ff;
}