<html>
<!--Pagina amb formulari per modificar un Soci, permet eliminar soci-->
<head>

    <title id="titulHead">AgrupaDB</title>
    <meta charset="UTF-8">
    <script src="javascripts/llibreries/jquery-3.3.1.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script> -->
    <script src="javascripts/llibreries/bootstrap.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	 crossorigin="anonymous"></script> -->
    <script src="javascripts/llibreries/fontawesome.js"></script>
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
	 crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="stylesheets/llibreries/bootstrap.min.css">
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	 crossorigin="anonymous"> -->
    <script src="javascripts/llibreries/solid.js"></script>
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
	 crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="stylesheets/llibreries/fonts.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Rock+Salt|Roboto" rel="stylesheet"> -->
    <script src="javascripts/llibreries/vue.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script> -->
    <!-- <script src="javascripts/llibreries/axios.min.js"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="/javascripts/modificaSoci.js"></script>

</head>

<body>
    <div id="vueModificaSoci">
        <div id="header" class="col-md-12">
            <strong> Agrupacó de Balls Populars </strong>
        </div>
        <div id="pagInsertSoci">
            <div id=FormNouSoci>
                <div class="form-group">
                    <label for="sociNom">Nom:</label>
                    <input type="text" class="form-control" id="sociNom" v-bind:value="soci.nom">
                </div>
                <div class="form-group">
                    <label for="sociCognoms">Cognoms:</label>
                    <input type="text" class="form-control" id="sociCognoms" v-bind:value="soci.cognoms">
                </div>
                <div class="form-group">
                    <label for="sociDni">DNI:</label>
                    <input type="text" class="form-control" id="sociDni" v-bind:value="soci.dni">
                </div>
                <div class="form-group ">
                    <label for="sociDataNaixement">Data Naixement:</label>
                    <input class="form-control" type="date" id="sociDataNaixement" v-bind:value="soci.data_naixement">

                </div>
                <div class="form-group">
                    <label for="sociEmail">Adreça Electronica:</label>
                    <input type="email" class="form-control" id="sociEmail" v-bind:value="soci.email">
                </div>
                <div class="form-group">
                    <label for="sociAdreça">Adreça:</label>
                    <input type="text" class="form-control" id="sociAdreça" v-bind:value="soci.adreça">
                </div>
                <div class="form-group">
                    <label for="sociTelefon">Telefon:</label>
                    <input type="text" class="form-control" id="sociTelefon" v-bind:value="soci.telefon"> </div>
                <div class="form-group">
                    <label for="sociTelefon2">Telefon 2:</label>
                    <input type="text" class="form-control" id="sociTelefon2" v-bind:value="soci.telefon2">
                </div>
                <div class="form-group">
                    <label for="sociCiutat">Ciutat:</label>
                    <input type="text" class="form-control" id="sociCiutat" v-bind:value="soci.ciutat">
                </div>

                <label>Sexe:</label>
                <label class="radio-inline">
                    <input type="radio" id="d" name="optradio">Dona</label>
                <label class="radio-inline">
                    <input type="radio" id="h" name="optradio">Home</label>
                <div class="form-group">
                        <label>Balls</label>
                </div>
                   
                <div class="form-group row">
                    
                    <div id=ball v-for= "ball in lballs1" class="col-md-2">
                        <label>
                            {{ball.nom}}
                            <input type="checkbox" v-bind:id="ball.codi_ball">
                        </label>
                    </div>
                    <div id=ball v-for= "ball in lballs2" class="col-md-2">
                            <label>
                                {{ball.nom}}
                                <input type="checkbox" v-bind:id="ball.codi_ball">
                            </label>
                        </div>
                </div>
            </div>
            <div id="botomodificasoci">
                <button type="button" class="btn btn-primary" v-on:click="cancela">Cancela</button>
                <button type="button" class="btn btn-primary" v-on:click="modificaSoci">Modifica </button>
                <div id="eliminasoci">
                    <button type="button" class="btn btn-danger" v-on:click="elimina">Elimina Soci</button>
                </div>
            </div>


        </div>
    </div>
</body>

</html>